TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_USER_ID= your_telegram_user_id
LOCATION=us

# Optional: Taapi.io API key for technical indicators
TAAPIIO_TIER=free

# Optional: MongoDB connection variables (Only required if USE_MONGO_DB=True in config.py)
# MONGODB_CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster0.mongodb.net
# MONGODB_DATABASE=crypto_alerts
# MONGODB_COLLECTION=users